/* */
header {
  /*setting padding */
	padding-top: 25px;
	padding-bottom: 10px;
  /*setting height and width of header */
	height: 50px;
  width: 1920px;
  /*setting background color */
	background-color: #CAEFB2;
  /*setting font size and family and allignment of text */
	font-size: 30px;
  font-family: serif;
  text-align: center;

}

  body{
    /* setting background color and margins*/
  	background-color: #ffffff ;
  	margin: 0;
  	padding: 0;

  }
  footer {

  /* here i set the position to fixed to ensure the footer was at the bottom of the page and not under the header*/
    position: fixed;
    bottom: 0;
    /*setting padding, height and width of the footer, background color text size, allingment and family */
  	padding-top: 25px;
  	padding-bottom: 50px;
  	height: 50px;
    width: 1920px;
  	background-color: #CAEFB2;
  	font-size: 30px;
    font-family: serif;
    text-align: center;
